<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <footer>
        <section>
            <div class="parent">
                <div class="registrationDiv">
                    <form action="">
                        
                        <div style="color: white;">
                            <h1>Registration</h1>
                        </div>

                        <div class="inputDivs">
                            <label for="">Email</label>
                            <input type="email">
                        </div>

                        <div class="inputDivs">
                            <label for="">Password</label>
                            <input type="password">
                        </div>

                        <div class="inputDivs">
                            <label for="">Username</label>
                            <input type="text">
                        </div>

                        <div class="inputDivs">
                            <button class="subButton" type="submit">Submit</button>
                        </div>

                        <div class="inputDivs">
                            <a href="">   
                                <h3 style="color: white;">Log in</h3>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>
